{
  "typesense": {
    "host": "103.230.227.5",
    "protocol": "http",
    "port": "8088",
    "api_key": "PASTE_YOUR_TYPESENSE_ADMIN_API_KEY_HERE",
    "search_api_key": "PASTE_YOUR_TYPESENSE_SEARCH_ONLY_API_KEY_HERE"
  }
}
